body {
	background-color: black;
	font-family: 'Impact';
	background-size: 1370px 800px;
	background-repeat: no-repeat;
	color: white;
}
.About-me {
	text-align: center;
}

img {
	width: 500px;
	height: 350px;
}

h1 {
	border: 2px dashed blue;
	padding: 20px;
}

a{font-family: 'Arial Black'; padding: 3px}

a:link{color: orange; background-color: lime}
a:hover{}
a:active{}
a:visited{}

html {
  height: 100%;
  overflow: hidden;
}

body { 
  margin:0;
  padding:0;
	perspective: 1px;
	transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: Nunito;
}

h1 {
   font-size: 250%
}

p {
  font-size: 140%;
  line-height: 150%;
  color: white;
}