body {
	font-family: 'Impact';
	background-size: 1370px 800px;
	background-repeat: no-repeat;
	color: Blue;

}
.About-me {
	text-align: center;
}
.Settings {
	text-align:	left;
}
.Location {
	text-align: right;
}
.Messaging {
	text-align: left;
}
.Kenneth-Prado {
	text-align: right;
}

a{font-family: 'Arial Black'; padding: 3px}

a:link{color: orange; background-color: lime}
a:hover{}
a:active{}
a:visited{}
