body{
	background-color: orange;
	background-size: 1370px 800px;
	background-repeat: no-repeat;
	color: blue;

}
nav ul {
	background: navy;
	color: navy;
	display: inline-block;
	list-style-type: none;
}
.About-me {
	text-align: center;
}


img {
	width: 500px;
	height: 300px;
}

h1 {
	border: 2px dashed blue;
	padding: 20px;
}

a{font-family: 'Arial Black'; padding: 3px}

a:link{color: orange; background-color: lime}
a:hover{}
a:active{}
a:visited{}

